<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>

const $western = $(document.querySelectorAll(".container ul > li")[0]);
const $speech = $(document.querySelectorAll(".container ul > li")[4]);
const $shortStory = $(document.querySelectorAll(".container ul > li")[8]);
const $textWestern = $(document.querySelectorAll(".container ul > .card")[0]);
const $textSpeech = $(document.querySelectorAll(".container ul > .card")[1]);
const $textShortStory = $(document.querySelectorAll(".container ul > .card")[2]);
const $texts = $(document.querySelectorAll(".container ul > .card"));

console.log(document.querySelectorAll(".container li")[0]);
console.log(document.querySelectorAll(".container ul > .card"));





$(document).ready(function(){

  $texts.hide();

  $western.on('click', () =>{

    $textWestern.toggle();
  });

  $speech.on('click', () =>{

    $textSpeech.toggle();
  });

  $shortStory.on('click', () =>{

    $textShortStory.toggle();
  });

});

</script> 
